*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
  background-color: hsl(40, 95%, 92%);
}

main {
  height: 100%;
  width: 100%;
}

.section-hero {
  display: flex;
  flex-direction: column;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  color: hsl(205, 100%, 17%);
  position: relative;
  z-index: 1;
}

.hero-blob {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.hero-nav-items ul{
  display: flex;
  gap: 1rem;
  list-style: none;
}

.hero-nav-items ul li {
  display: inline-block;
  padding: 1rem;
  font-weight: 500;
}

/* .hero-nav-items ul li::before {
  
} */

.hero-nav-search form {
  display: flex;
  gap: 1rem;
}

.hero-nav-search form input {
  border: none;
  outline: none;
  padding: .5rem;
  width: 220px;
  border-radius: 1rem;
}

.hero-nav-search form button {
  border: none;
  width: 140px;
  outline: none;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  background-color: hsl(205, 100%, 17%);
  border-radius: 1rem;
}


.hero-main-imgs {
  display: flex;
  position: relative;
}

.box-blue,
.box-cream {
  width: 600px;
  height: 600px;
  border-radius: 5rem;
  position: absolute;
}

.box-blue {
  background-color: hsl(205, 100%, 17%);
}

.box-cream {
  background-color: hsl(40, 82%, 81%);
  rotate: 20deg;
}